.header {
  -webkit-animation-name: little-stars;
          animation-name: little-stars;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.big-stars {
  -webkit-animation-name: big-stars;
          animation-name: big-stars;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes big-stars {
  0% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 0;
  }
  50% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 1;
  }
}

@keyframes big-stars {
  0% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 0;
  }
  50% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 1;
  }
}
@-webkit-keyframes little-stars {
  0% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 717px 585px, 1200px 742.57px;
  }
  50% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 780px 585px, 1200px 742.57px;
  }
}
@keyframes little-stars {
  0% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 717px 585px, 1200px 742.57px;
  }
  50% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 780px 585px, 1200px 742.57px;
  }
}