.header {
  animation-name: little-stars;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.big-stars {
  animation-name: big-stars;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes big-stars {
  0% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 0;
  }
  50% {
    background-image: url(../assets/Union_big_stars.png);
    opacity: 1;
  }
}
@keyframes little-stars {
  0% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 717px 585px, 1200px 742.57px;
  }
  50% {
    background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size: 780px 585px, 1200px 742.57px;
  }
}/*# sourceMappingURL=animation.css.map */