@import 'variables';


@mixin wrapper--size{
    width: 1200px;
    height: 2097.49px;
}
@mixin wrapper--grid{
    display: grid;
    grid-template-rows:35.19% 57.23% 7.58%;
    margin-left: auto;
    margin-right: auto;
}
@mixin header--size{
    width: 1200px;
    height: 742.57px;
}
@mixin header--grid{
    display: grid;
    grid-template-rows: 10% 40% 15% 15%;
}
@mixin header-bgd{
    background-image: 
    url(../assets/Union_little_stars.png),
    url(../assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size:  717px 585px, 1200px 742.57px;
}
@mixin header--animation{
    animation-name: little-stars;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@mixin header-big-stars--animation{
    animation-name: big-stars;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
@mixin header-bigstars--margins{
    margin-left: 751px;
    margin-top: -535px;
}
@mixin header-bigstars--size{
    width: 449px;
    height: 632px;
}
@mixin header-bigstars--image{
    background-image:url(../assets/Union_big_stars.png);
    background-repeat: no-repeat;
    background-size: 450px 630px;
    background-position: right top 0px;
}
@mixin header-nav--grid{
    display: grid;
    grid-template-columns: 100px 723px;
}
@mixin header-nav--paddings{
    padding-top: 45px;
    padding-left: 152px;
}
@mixin header-nav-main--grid{
    display: grid;   
    grid-template-columns: 50% 50%;
}
@mixin header-nav-menu-grid{
    display: grid;
    grid-template-columns:81px 95px 67px 73px;
}
@mixin font {
    font-family: $font-family;
    font-style: $font-style;
    text-transform: $text-transform;
    color: $color;
    text-decoration: $text-decoration 

}
@mixin header-home-page--font{
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    font-family: $font-family;
    font-style: $font-style;
    text-transform: $text-transform;
    color: $color;
    text-decoration: $text-decoration  
}
@mixin header-home-page--size{
    width: 91px;
    height: 17px;
}
@mixin nav-fontsize{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em; 
}
@mixin header-logo--margins{
    margin-left: 570px;
    margin-top: 239px;
}
@mixin header-logo--size{
    width: 63px;
    height: 63px;
}
@mixin header-logo--rotation{
    transition-duration: 0.7s;
    transition-delay: 0.5ms;
    transform: rotateY(180deg) scale(1.5);  
}
@mixin header-h1--paddins{
    padding-left: 408px;
    padding-top: 13px;
}
@mixin header-h1--size{
    width: 386px;
    height: 118px;
}
@mixin header-h1--front{
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: $color;
}
@mixin header-h2--paddins{
    padding-left: 375px;
    padding-top: 42px;
}
@mixin header-h2--size{
    width: 426px;
    height: 56px;
}
@mixin header-h2--front{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px; 
    color: $h2-color;
}
@mixin main-section1--sizebackgr{
    width: 1200px;
    height: 700px;
    background-color: $main-section1-bgdcolor;
}
@mixin main-section1-article--grid{
    display: grid;
    grid-template-columns: 40% 40%;
}
@mixin main-section1-article--margins{
    margin-left: 150px;
    margin-top: 45px; 
}
@mixin main-section1-h2--padins{
    padding-top: 87px;
    padding-left: 265px;
}
@mixin main-section1-h2--size{
    width: 669px;
    height: 119px;
}
@mixin main-section1-h2--front{
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: $main-section1-h2--color;
}
@mixin main-section1-h3--padins{
    padding-left: 387px;
    padding-top: 40px;
}
@mixin main-section1-h3--size{
    width: 426px;
    height: 57px;
}
@mixin main-section1-h3--front{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $main-section1-h3--color;
}

@mixin  main-section1-p--front{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: $main-section1-p--color;
}
@mixin main-section-1-button--margins{
    margin-left: 542px;
    margin-top: 2.875rem;
}
@mixin main-section-1-button--front{
    border-radius: 18px;
    background: #55c2d8;
    font-family: "Oswald Regular";
    font-size: 14px;
    color: $main-section1-button--color;
}
@mixin main-section-1-button--rotate{
    transition-duration: 1s;
    transform: rotate(10deg);
    transform-origin: left;
}
@mixin main-section2--sizebgd{
    width: 1200px;
    height: 666px;
    background-image: $main-section2--bgdimage;
    background-size: cover;
}
@mixin main-section-2-button-play--margins{
    margin-left: 527px;
    margin-top: 258px;
}
@mixin main-section-2-button-play--size{
    width: 145px;
    height: 143.47px;
}
@mixin main-section-2-button-play--border{
    background:#ffffff;
    border-radius: 50%;
    border: #ffffff;
}
@mixin main-section-2-button-play--hover{
    background-color:  #39C2D7;;
    transform: scale(1.2, 1.2);
    transition-duration: 1s;
}
@mixin main-section-2-icon-play--size{
    width: 52.61px;
    height: 43.67px;
}
@mixin main-section-2-icon-play--border{
    border-radius: 2px;
    padding-left: 14px;
    filter: invert(64%) sepia(97%) saturate(330%) hue-rotate(140deg) brightness(88%) contrast(90%);
}
@mixin main-section-2-icon-play--hover{
    transform: scale(0,2, 0,2);
    transition-duration: 1s;
    filter: none;
}
@mixin footer{
    width: 1200px;
    height: 170px;
    background: $footer--bgd--color;
}
@mixin footer--grid{
    display: grid;
    grid-template-columns:  auto;
    grid-template-rows: auto;
} 
@mixin footer--paddings{
    padding-top: 39px;
    padding-left: 153px;
    padding-right: 148px;
}
@mixin footer-little-logo-h6--grid{
    display: grid; 
    grid-template-columns: 20px 92px;
    column-gap: 16px;
}
@mixin footer-adress-email--location{
    grid-column: 3;
}
@mixin footer-email--location{
    grid-column: 3;
    grid-row: 2;
}
@mixin footer-end--location {
    grid-column: 6/span 2;
    grid-row: 2;
}
@mixin footer-address--size{
    width: 174px;
    height: 33px;
}
@mixin footer-address--font{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $footer-address--fontcolor;
}
@mixin footer-little-logo--size{
    height: 20px;
    width: 20px;
}
@mixin footer-h6--font{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $footer-h6--color;
}
@mixin footer-h6--size {
    height: 16px;
    left: 181px;
}
@mixin footer-email--font{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $footer-email--color;
}
@mixin footer-end--font{
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $footer-end--color;
}