.wrapper {
  width: 1200px;
  height: 2097.49px;
  display: grid;
  grid-template-rows: 35.19% 57.23% 7.58%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 1200px;
  height: 742.57px;
  background-image: url(../assets/Union_little_stars.png), url(../assets/Desktop_Backgrounds.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right 37px top 20px, center;
  background-size: 717px 585px, 1200px 742.57px;
  display: grid;
  grid-template-rows: 10% 40% 15% 15%;
}

.big-stars {
  margin-left: 751px;
  margin-top: -535px;
  width: 449px;
  height: 632px;
  background-image: url(../assets/Union_big_stars.png);
  background-repeat: no-repeat;
  background-size: 450px 630px;
  background-position: right top 0px;
}

.home-page {
  width: 91px;
  height: 17px;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.1em;
  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.nav {
  display: grid;
  grid-template-columns: 100px 723px;
  padding-top: 45px;
  padding-left: 152px;
  -moz-column-gap: 165px;
       column-gap: 165px;
}

.nav-main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.nav-menu {
  display: grid;
  grid-template-columns: 81px 95px 67px 73px;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

#nav-main-checkbox {
  display: none;
}

.hamburger {
  display: none;
}

.hamburger-line {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 2px;
  position: relative;
  width: 22px;
}

.hamburger-line::before,
.hamburger-line::after {
  background-color: rgb(255, 255, 255);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.hamburger-line::before {
  top: 7px;
}

.hamburger-line::after {
  top: -7px;
}

.nav-main-projects {
  width: 81px;
  height: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.nav-main-about-us {
  width: 81px;
  height: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.nav-main-stories {
  width: 67px;
  height: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

.nav-main-contact {
  width: 73px;
  height: 16px;
  font-family: Source Sans Pro;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
}

img.header-logo {
  margin-left: 570px;
  margin-top: 239px;
  width: 63px;
  height: 63px;
  color: #55c2d8;
}
img.header-logo:hover {
  transition-duration: 0.7s;
  transition-delay: 0.5ms;
  transform: rotateY(180deg) scale(1.5);
}

h1 {
  padding-left: 408px;
  padding-top: 13px;
  width: 386px;
  height: 118px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
  text-align: center;
}

h2 {
  padding-left: 375px;
  padding-top: 42px;
  width: 426px;
  height: 56px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.main-section-1 {
  width: 1200px;
  height: 700px;
  background-color: #eeeeee;
}

.main-section-1-article {
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 150px;
  margin-top: 45px;
  -moz-column-gap: 83px;
       column-gap: 83px;
}

.main-section-1-h2 {
  padding-top: 87px;
  padding-left: 265px;
  width: 669px;
  height: 119px;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #464547;
  text-align: center;
}

h3 {
  padding-left: 387px;
  padding-top: 40px;
  width: 426px;
  height: 57px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #666666;
  text-align: center;
}

p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #000000;
}

.main-section-1-button-text {
  border-radius: 18px;
  background: #55c2d8;
  font-family: "Oswald Regular";
  font-size: 14px;
  color: #ffffff;
  margin-left: 542px;
  margin-top: 2.875rem;
}
.main-section-1-button-text:hover {
  transition-duration: 1s;
  transform: rotate(10deg);
  transform-origin: left;
}

.main-section-2 {
  width: 1200px;
  height: 666px;
  background-image: url(../assets/Learn-more.png);
  background-size: cover;
}

.main-section-2-button-play {
  margin-left: 527px;
  margin-top: 258px;
  width: 145px;
  height: 143.47px;
  background: #ffffff;
  border-radius: 50%;
  border: #ffffff;
}
.main-section-2-button-play:hover {
  background-color: #39C2D7;
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}

.icon-play {
  width: 52.61px;
  height: 43.67px;
  border-radius: 2px;
  padding-left: 14px;
  filter: invert(64%) sepia(97%) saturate(330%) hue-rotate(140deg) brightness(88%) contrast(90%);
}
.icon-play:hover {
  transform: scale(0, 2, 0, 2);
  transition-duration: 1s;
  filter: none;
}

.footer {
  width: 1200px;
  height: 170px;
  background: #464547;
}

.footer-grid {
  display: grid;
  grid-template-columns: 14% 14% 14% 14% 14% 14%;
  grid-template-rows: 50% 50%;
  padding-top: 39px;
  padding-left: 153px;
  padding-right: 148px;
}

.footer-little-logo-h6 {
  display: grid;
  grid-template-columns: 20px 92px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer-adress-email {
  grid-column: 3;
}

.footer-email {
  grid-column: 3;
  grid-row: 2;
}

.footer-end {
  grid-column: 6/span 2;
  grid-row: 2;
}

.address {
  width: 174px;
  height: 33px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-little-logo {
  height: 20px;
  width: 20px;
}

h6 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  height: 16px;
  left: 181px;
}

.footer-email {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-end {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
}/*# sourceMappingURL=styles.css.map */