@import 'mixins';
@import 'variables';

.wrapper {
    @include wrapper--size;
    @include wrapper--grid;
}

.header{
    @include header--size;
    @include header-bgd;
    @include header--grid;
}

.big-stars{
    @include header-bigstars--margins;
    @include header-bigstars--size;
    @include header-bigstars--image;
}

.home-page {
    @include header-home-page--size;
    @include header-home-page--font;
}

.nav{
    @include header-nav--grid;
    @include header-nav--paddings;
    column-gap: 165px;
}
.nav-main {
    @include header-nav-main--grid;
}

.nav-menu{
    @include header-nav-menu-grid;
    column-gap: 32px;
}

#nav-main-checkbox {
    display: none;
}

.hamburger {
    display: none;
}

.hamburger-line{
    background-color: rgba(255, 255, 255, 1);
    display: block;
    height: 2px;
    position: relative;
    width: 22px;
}

.hamburger-line::before,
.hamburger-line::after{
    background-color:rgba(255, 255, 255, 1);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger-line::before{
    top: 7px;
}

.hamburger-line::after{
    top: -7px;
}

.nav-main-projects{
    width: 81px;
    height: 16px;
    @include font;
    @include nav-fontsize;
}

.nav-main-about-us{
    width: 81px;
    height: 16px;
    @include font;
    @include nav-fontsize; 
}

.nav-main-stories{
    width: 67px;
    height: 16px;
    @include font;
    @include nav-fontsize; 
}

.nav-main-contact{
    width: 73px;
    height: 16px;
    @include font;
    @include nav-fontsize;   
}

img.header-logo {
    @include header-logo--margins;
    @include header-logo--size;
    color: $header-logo--color;
    &:hover{
        @include header-logo--rotation;
    }
}

h1{
    @include header-h1--paddins;
    @include header-h1--size;
    @include header-h1--front;
    text-align: center;
}

h2{
    @include header-h2--paddins;
    @include header-h2--size;
    @include header-h2--front;
    text-align: center
}

.main-section-1{
    @include main-section1--sizebackgr;
}

.main-section-1-article{
    @include main-section1-article--grid;
    @include main-section1-article--margins;
    column-gap: 83px;
}

.main-section-1-h2{
    @include main-section1-h2--padins;
    @include main-section1-h2--size;
    @include main-section1-h2--front;
    text-align: center;
}

h3{
    @include main-section1-h3--padins;
    @include main-section1-h3--size;
    @include main-section1-h3--front;
    text-align: center;
}
p{
    @include main-section1-p--front;
}

.main-section-1-button-text{
    @include main-section-1-button--front;
    @include main-section-1-button--margins;
    &:hover{
      @include main-section-1-button--rotate;
    }
}

.main-section-2{
    @include main-section2--sizebgd;
}

.main-section-2-button-play{
    @include main-section-2-button-play--margins;
    @include main-section-2-button-play--size;
    @include main-section-2-button-play--border;
    &:hover{
        @include main-section-2-button-play--hover; 
    }
}

.icon-play{
    @include main-section-2-icon-play--size;
    @include main-section-2-icon-play--border;
    &:hover{
        @include main-section-2-icon-play--hover;
    }
}

.footer{
    @include footer;
}

.footer-grid{
    @include footer--grid;
    @include footer--paddings;
}

.footer-little-logo-h6{
    @include footer-little-logo-h6--grid;
}

.footer-adress-email{
    @include footer-adress-email--location;
}

.footer-email{
    @include footer-email--location;
}

.footer-end{
    @include footer-end--location;
}

.address{
    @include footer-address--size;
    @include footer-address--font;
}

.footer-little-logo{
    @include footer-little-logo--size;
}

h6{
    @include footer-h6--font;
    @include footer-h6--size;
}

.footer-email{
    @include footer-email--font;
}

.footer-end{
    @include footer-end--font;
}