$font-family: Source Sans Pro;
$font-style: normal;
$text-transform: uppercase;
$color: #ffffff;
$text-decoration: none;
$header-logo--color:#55c2d8;
$h2-color: rgba(255, 255, 255, 0.7);
$main-section1-bgdcolor:#eeeeee;
$main-section1-h2--color:#464547;
$main-section1-h3--color:#666666;
$main-section1-p--color:#000000;
$main-section1-button--color:#ffffff;
$main-section2--bgdimage: url(../assets/Learn-more.png);
$footer--bgd--color:#464547;
$footer-address--fontcolor:rgba(255, 255, 255, 0.4);
$footer-h6--color:  #ffffff;
$footer-email--color:rgba(255, 255, 255, 0.4);
$footer-end--color:rgba(255, 255, 255, 0.4);