/*.wrapper {
    width: 1200px;
    height: 2097.49px;
  }
  
  .header {
    width: 1200px;
    height: 742.57px;
    
    background-image: 
    url(./assets/Union_little_stars.png),
    url(./assets/Desktop_Backgrounds.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right 37px top 20px, center;
    background-size:  717px 585px, 1200px 742.57px;
    animation-name: little-stars;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .big-stars{
    margin-left: 751px;
    margin-top: -535px;
    width: 449px;
    height: 632px;
    background-image:url(./assets/Union_big_stars.png);
    background-repeat: no-repeat;
    background-size: 450px 630px;
    background-position: right top 0px;
    animation-name: big-stars;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes big-stars{
    0%{background-image:url(./assets/Union_big_stars.png);
      opacity: 0;
      
    }
    50%{background-image:url(./assets/Union_big_stars.png);
    opacity: 1;
    }
    

    
  }
 @keyframes little-stars{
    0%{background-image: url(./assets/Union_little_stars.png),
      url(./assets/Desktop_Backgrounds.png);
      background-repeat: no-repeat, no-repeat;
      background-position: right 37px top 20px, center;
      background-size: 717px 585px, 1200px 742.57px;
    }
     50%{background-image:url(./assets/Union_little_stars.png),
      url(./assets/Desktop_Backgrounds.png);
      background-repeat: no-repeat, no-repeat;
      background-position: right 37px top 20px, center;
      background-size: 780px 585px, 1200px 742.57px;
    }
  
  }

  .home-page {
    width: 91px;
    height: 17px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-main-projects {
    width: 81px;
    height: 16px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-main-about-us {
    width: 81px;
    height: 16px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-main-stories {
    width: 67px;
    height: 16px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-main-contact {
    width: 73px;
    height: 16px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
  }
  .header-logo {
    margin-left: 570px;
    margin-top: 239px;
    width: 63px;
    height: 63px;
    color: #55c2d8;
  }
  img.header-logo:hover{
    transition-duration: 0.7s;
    transition-delay: 0.5ms;
    transform: rotateY(180deg) scale(1.5)
  
  }
  h1 {
    width: 386px;
    height: 118px;
    padding-left: 408px;
    padding-top: 13px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
  }
  h2 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 426px;
    height: 56px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 375px;
    padding-top: 42px;
  }
  .main-section-1 {
    width: 1200px;
    height: 700px;
    background-color: #eeeeee;
  }
  .main-section-1-h2 {
    width: 669px;
    height: 119px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
    padding-top: 87px;
    padding-left: 265px;
  }
  h3 {
    width: 426px;
    height: 57px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    padding-left: 387px;
    padding-top: 40px;
  }
  p {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #000000;
  }
  .main-section-1-button-text {
    border-radius: 18px;
    background: #55c2d8;
    font-family: "Oswald Regular";
    font-size: 14px;
    color: #ffffff;
    margin-left: 542px;
    margin-top: 26px;
  }
  .main-section-1-button-text:hover{
    transition-duration: 1s;
    transform: rotate(10deg);
    transform-origin: left;

  }
  .main-section-2 {
    width: 1200px;
    height: 666px;
    background-image: url(./assets/Learn-more.png);
    background-size: cover;
  }
  .main-section-2-button-play {
    width: 145px;
    height: 143.47px;
    background:#ffffff;
    border-radius: 50%;
    margin-left: 527px;
    margin-top: 258px;
    border: #ffffff;
  }
  .icon-play{
    width: 52.61px;
    height: 43.67px;
    border-radius: 2px;
    padding-left: 14px;
    filter: invert(64%) sepia(97%) saturate(330%) hue-rotate(140deg) brightness(88%) contrast(90%);
  
 

  }
  .main-section-2-button-play:hover{
    background-color:  #39C2D7;;
    transform: scale(1.2, 1.2);
    transition-duration: 1s;


  }
  .main-section-2-button-play:hover .icon-play{
    
    transform: scale(0,2, 0,2);
    transition-duration: 1s;
    filter: none;

 
  }
 
  .footer {
    width: 1200px;
    height: 170px;
    background: #464547;
    
  }
  .address {
    width: 174px;
    height: 33px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
  .footer-little-logo {
    height: 20px;
    width: 20px;
    
  }
  h6 {
    height: 16px;
    left: 181px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    
  }
  .footer-adress-email {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);;
  }
  .footer-email {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }
  .footer-end {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
  }*/
  
  